<h1>All tasks</h1>

<%= link_to 'New task', new_task_path %>

<ul>
  <% @tasks.each do |task| %>
    <li>
      <%= task.completed? ? 'X' : 'O' %> -
      <%= link_to task.title, task_path(task) %>
      [<%= link_to 'edit', edit_task_path(task) %>]
      [<%= link_to "delete",
        task_path(task),
        data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
      %>]
    </li>
  <% end %>
</ul>
